@import url('css2.css');


.img {
    text-align: center
}

.img img {
    width: 200px;
    height: 200px;
}
.list-block__text, .threat, .main {
    font-weight: 700
}

#cta, #cta-wrapper, #wrapper {
    position: relative
}

#warning, #closer, #cta, #device-container, .list-block {
    text-align: center
}

body {
    font-family: Roboto, sans-serif;
    background: #E0E0E0;
    max-height: 100vh
}

body > a {
    text-decoration: none;
    cursor: default;
    color: #212121
}

.wrapper {
    background: #FAFAFA;
    margin: 25px;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 0 25px rgba(0, 0, 0, .25)
}

.notice {
    width: 100%;
    margin: 10px 0
}

.notice-banner {
    font-size: 1.75em;
    font-weight: 700;
    text-align: center;
}

.main {
    color: #00C853
}

.threat {
    color: red
}

.text {
    text-align: center;
    margin: 15px 0;
    font-size: 16px
}

.list-block {
    font-size: 13px
}

.list {
    padding: 0;
    list-style: none;
}

.list__item {
    margin: 5px 0
}

.button {
    margin: 30px 0 10px 0;
    width: 100%;
    height: 58px
}

.button__text {
    background: #3F51B5;
    color: #fff;
    font-size: 20px;
    padding: 10px;
    border-bottom: 5px solid #28326a;
    text-align: center;
}
